p {
  font-family: 'Source Sans Pro', "Helvetica Neue", sans-serif;
}

  .uk-heading-large {
    font-family: 'Cormorant', "Helvetica Neue", serif;
    font-weight:400;
  }

  .uk-heading-medium {
    font-family: 'Source Sans Pro', "Helvetica Neue", sans-serif;
  }